.ubuntu-regular-italic {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

* {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.card {
    background: rgb(228, 226, 226);
}